.client {
  padding-bottom: 94px;
}
.client__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.client__list {
  display: flex;
  justify-content: center;
}
.client__items {
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:first-child) {
    margin-left: 30px;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
.client__logo {
  fill: currentColor;
}
