.box {
  display: flex;
}

.box-item:not(:first-child) {
  margin-left: 30px;
}

.list-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
